# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

## **Objectives:**

+ List popular languages for Data Science
+ List popular tools for Data Science
+ List popular libraries for Data Science

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

#### Some of the commonly used libraries used by Data Scientists include:
1. numpy 
2. matplot
3. ggplot

### Data Science Tools

|Data Science Tools| 
|---------|
|JupyterLab|
|ApacheSpark|
|Weka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
a = 200
b = 200/60
print(b)

3.3333333333333335

## Author 
Sakshi Shinde